<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items List</title>
</head>
<body>
    {% include "header.html" %}
    <ul>
        {% if json_data.get("items") %}
            {% for val in json_data["items"] %}
                <li>{{val}}</li>
            {% endfor %}
        {% else %}
            <h1>No items found</h1>
        {% endif %}
    </ul>
    {% include "footer.html" %}
</body>
</html>